@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Jost', sans-serif;
  transition: all 0.25s ease-in-out;
}

body {
  background-color: rgb(17, 24, 39);
}

.header {
  box-shadow: 0 40px 10px blue;
}

.description-text a {
  color: rgb(98, 190, 98);
}

::-webkit-scrollbar {
  display: none;
}
